* {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

header,
footer {
    background-color: #1F2937;
    padding: 10px 400px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: #F9FAF8;
    font-size: 24px;
}

.header-menu ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header-menu ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section {
    display: flex;
    padding: 100px 0px;
    gap: 20px;
}

.left-hero {
    flex: 1 1 50%;
}

.left-hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.left-hero p {
    font-size: 18px;
    color: #F9FAF8;
    padding: 10px 0px;
}

button {
    background-color: #3882F6;
    padding: 6px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;    
}

.right-hero {
    flex: 1 1 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding: 0px 400px;
}

.feature h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 40px 0px;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    align-items: center;
}

.card .box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.card p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quotation {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

.cta {
    padding: 80px 400px;
}

.cta-dialog {
    background-color: #3882F6;
    border-radius: 7px;
    padding: 40px 100px; 
    display: flex;
    justify-content: space-between;
}

.left-cta {
    color: #F9FAF8;
}

.cta button {
    padding: 6px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    flex-shrink: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}